*{
    margin: 0;
    padding: 0;
}
#header{
    background-image: url(image/b1.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.navbar-nav li a
{
    float: right;
    color: #fff!important;
}
.navbar-toggler{
    border: none!important;
    outline: none!important;
}
.nav-link:hover
{font-size: 24px;
    transition: all .5s;
}

.welcome
{
    padding: 50px 100px;
    margin-top: -40px;
    background-color: white;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
    margin-bottom: 100px;
}
.welcome h1{
    color: #333;
}
  <!---------------------------------------------serivices------------------------------->
#services{
    margin-top: 120px;
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 80px;
}

#services  .col-md-4{
    padding: 20px;
}

#services .col-md-4 h4
{
    padding: 5px;
    text-align: center;
}
#services .col-md-4 p
{
   padding: 5px;
text-align: justify;

    
}
#services .col-md-4 p a:link 
{ 
  text-decoration: none;
}
#services .col-md-4 p a
{ 
  color: black;
}
.col-md-4:hover{
   
  background-color: #efefef;
}
    
